* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
   margin-left: 30%;
   margin-top: 10%;
}
.btn {
    margin-right: 20px !important;
    margin-top: 20px !important;
}

.name, .email, .password, .comfirm-password, .phone-number, .subject {
    margin: 5px !important;
    color: blue !important;
    font-weight: 800;
}
.form-check {
    margin: 5px !important;
}
h1 {
    text-align: center;
    color: blue !important;
    text-transform: uppercase;
}
#paragraph {
    text-align: center;
    color: red;
    font-size: 18px;
    margin: 5px !important;
    display: none;
}